@{
    Layout = "_Layout";
}
@model MarketAI.API.ViewModels.TicketPageVM

      <div class="container">
      <div class="dashboard-header wbmargin">
        <div class="titledash"><div class="dbicon contact"></div> Тикеты</div>
      </div>

      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Тикеты</li>
          <li class="breadcrumb-item active" aria-current="page">Тикет</li>
        </ol>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="ticket">

          <div class="ticket-header">@Model.Ticket.Topic</div>
          <div class="ticketicon2"></div>

          <div class="ticket-content">

               <div class="message">
                            <div class="chat">
                                <div class="chatinfo">
                                    <i class="las la-clock"></i>
                                    >@Model.Ticket.CreatedAt.ToString("dd MMMM yyyy HH:mm") 
                                </div>
                                <div class="textmessage">
                                    @Model.Ticket.Description
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Ticket.AttachmentPath))
                                {
                                    <a asp-action="GetAttachment" asp-controller="UserTickets" asp-route-path="@Model.Ticket.AttachmentPath">Вложение</a>
                                }
                            </div>

                            <div class="avatarwb">
                                <img src="@Model.Ticket.OpenedBy.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
                            </div>
                        </div>



                @foreach(var msg in Model.Ticket.Messages)
                {
                    if(msg.SentById == Model.Ticket.OpenedById)
                    {
                         <div class="message">
                            <div class="chat">
                                <div class="chatinfo">
                                    <i class="las la-clock"></i>
                                    @msg.CreatedAt.ToString("dd MMMM yyyy HH:mm") 
                                </div>
                                <div class="textmessage">
                                    @msg.Message
                                </div>
                                @if (!string.IsNullOrEmpty(msg.AttachmentPath))
                                {
                                    <a asp-action="GetAttachment" asp-controller="UserTickets" asp-route-path="@msg.AttachmentPath">Вложение</a>
                                }
                            </div>

                            <div class="avatarwb">
                                <img src="@msg.SentBy.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message message-right">
                            <div class="avatarwb">
                                <img src="@msg.SentBy.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
                            </div>

                            <div class="chat chat-right">
                                <div class="chatinfo">
                                    <i class="las la-clock"></i>
                                    @msg.CreatedAt.ToString("dd MMMM yyyy HH:mm") 
                                </div>
                                <div class="textmessage">
                                    @msg.Message
                                </div>
                                @if (!string.IsNullOrEmpty(msg.AttachmentPath))
                                {
                                    <a asp-action="GetAttachment" asp-controller="UserTickets" asp-route-path="@msg.AttachmentPath">Вложение</a>
                                }
                            </div>
                        </div>
                    }
                }
          </div>
        </div>

      @*  <div class="ticket-chat">
            <form asp-action="AddTicketMessage" asp-controller="UserTickets" asp-route-ticketid="@Model.Ticket.Id" class="input-group mb-3">
                <label class="wblabel"></label>
                <input type="text" name="message" class="form-control wbchatput" readonly placeholder="Текст">

                <button class="btn btnprofile wbselfbtn" id="file-input" type="button" value="loadXml" onclick="document.getElementById('file').click();"><div class="dbicon folder"></div> Вложения</button>

                <input type="file" style="display:none;" id="file" name="file"/>

                 
            </form>
        </div>
*@
        <form asp-action="AddTicketMessage" asp-controller="UserTickets" asp-route-ticketid="@Model.Ticket.Id" class="ticket-chat">
            <div class="chat-title">Написать сообщение</div>

            <div class="input-group mb-3">
                <label class="wblabel"></label>
                <input type="text" name="message" class="form-control wbchatput" placeholder="Текст">
                <button class="btn btnprofile wbselfbtn" id="file-input" type="button" id="button-addon2" value="loadXml" onclick="document.getElementById('file').click();"><div class="dbicon folder"></div> Вложения</button>
                <input type="file" style="display:none;" id="file" name="file"/>
            </div>

            <div class="groupsend">
              <button class="wbsender">Отправить сообщение</button>
            </div>
        </form>

      </div>
    </div>
