@using MarketAI.API.Models
@{
    Layout = "_Layout";
}
@model UserModel
<style>
    .popup-item{
        margin-top: 10px;
        height:30px;
    }
    .popup-close{
        margin-top: -30px !important;
    }
    .popup-error{
       color: red;
    }
 </style>



    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Профиль</h3>
        </div>
    </div>

    <style>
        .custom_button {
            width: 370px;
            margin-top: 10px;
        }
        .button_header{
            color:black;
        }
        .form_item{
            margin-top: 10px;
        }
        .form_label{
            margin-left: -10px;
        }
    </style>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 list-timeline">
                       
                             <form class="panel-body" style="padding-bottom:30px;" asp-action="UpdateUser" asp-controller="Users" asp-route-model="@Model" enctype="multipart/form-data"  method="POST">
                                <div class="col-md-12">
                                    <div class="form-group">
                                       <input type="hidden" asp-for="Id"  value="@Model.Id" />
                                       <div class="col-sm-6">
                                            <label class="col-sm-1 form_label" for="Name"> Имя</label>
                                            <input type="text"  asp-for="Name"  value="@Model.Name" required class="form-control">
                                       </div>
                                       <div class="col-sm-6">
                                            <label class="col-sm-1 form_label" for="Surname"> Фамилия</label>
                                            <input type="text" asp-for="Surname" value="@Model.Surname" required class="form-control">
                                       </div>

                                        <div class="col-sm-6 form_item">
                                            <label class="col-sm-1 form_label" for="Email"> Email</label>
                                            <input type="email"  asp-for="Email"  value="@Model.Email" required class="form-control">
                                       </div>
                                       <div class="col-sm-6 form_item">
                                            <label class="col-sm-1 form_label" for="Phone"> Телефон</label>
                                            <input type="tel"  asp-for="Phone"  value="@Model.Phone" required class="form-control">
                                       </div>

                                       <div class="col-sm-12 form_item">
                                            <label class="col-sm-1 form_label" for="Activity">Ниша</label>
                                            <input type="text" asp-for="Activity" value="@Model.Activity" required class="form-control">
                                       </div>

                                        <div class="input-group fileupload-v1 form_item" style="width: 97%; top: 10px; margin-left: 14px">
                                            <input type="file" name="manualfile" class="fileupload-v1-file hidden" />
                                            <input type="text" class="form-control fileupload-v1-path" placeholder="File Path..." disabled>
                                            <span class="input-group-btn">
                                                <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i>Загрузить аватар</button>
                                            </span>
                                        </div>
                                        <input class="submit btn btn-primary" style="width: 97%; margin-top: 20px; margin-left: 14px" type="submit" value="Сохранить изменения">
                                    </div>  
                                </div>
                              </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



   <!-- Popups -->

        

          <div class="modal" id="activatePromocode">
             <div class="modal-dialog">
                <div class="modal-content">
                   <!-- Modal Header -->
                   <div class="modal-header">
                      <h4 class="modal-title">Активация промокода</h4>
                      <button type="button" class="close popup-close" data-dismiss="modal">&times;</button>
                   </div>
                   <!-- Modal body -->
                   <div class="modal-body">
                     <div class="form-group popup-item">
                        <label class="col-sm-2 control-label text-right ">Введите промокод</label>
                        <div class="col-sm-10 popup_item"><input id="promocode" type="text" required class="form-control" name="Name"></div>
                     </div>
                   </div>
                   <!-- Modal footer -->
                   <div class="modal-footer" >
                        <button type="button" onclick="activatePromocode()" class="btn btn-primary popup_item" data-dismiss="modal">Активировать</button>
                        <button type="button" class="btn btn-light popup_item" data-dismiss="modal">Отмена</button>
                   </div>
                </div>
             </div>
          </div>


          <div class="modal" id="myModal">
             <div class="modal-dialog">
                <div class="modal-content">
                   <!-- Modal Header -->
                   <div class="modal-header">
                      <h4 class="modal-title">Добавление ключа Wildberries</h4>
                      <button type="button" class="close popup-close" data-dismiss="modal">&times;</button>
                   </div>
                   <!-- Modal body -->
                   <div class="modal-body">
                     <div class="form-group popup-item">
                        <label class="col-sm-2 control-label text-right ">Название</label>
                        <div class="col-sm-10 popup_item"><input id="apikey_name" type="text" required class="form-control" name="Name"></div>
                     </div>
                     <div class="form-group popup-item">
                         <label class="col-sm-2 control-label text-right">Токен</label>
                         <div  class="col-sm-10 popup_item"><input  id="apikey_token" type="text" name="APIKey" required class="form-control"></div>
                     </div>
                   </div>
                   <!-- Modal footer -->
                   <div class="modal-footer" >
                        <button type="button" onclick="addApiKey()" class="btn btn-primary popup_item" data-dismiss="modal">Добавить</button>
                        <button type="button" class="btn btn-light popup_item" data-dismiss="modal">Отмена</button>
                   </div>
                </div>
             </div>
          </div>




    <!--end Popups -->
    <script>

     





    
        async function activatePromocode() {

        let promocode = document.getElementById('promocode');


        let model = {
            Id : @Model.Id,
            ActivatedPromocode : promocode.value
        };

        let response = await fetch('/ActivatePromocode', 
                  {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                      },
                      body: JSON.stringify(model),
                  });
          document.location.reload();
       }
    </script>