@using MarketWB.Web.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feeno</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="~/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/resources/css/other.css">
    <link rel="stylesheet" href="~/resources/css/jquery-ui.css">
    <link rel="stylesheet" href="~/resources/css/owl.carousel.css">
    <link rel="stylesheet" href="~/resources/css/owl.theme.default.css">

    @RenderSection("css",false)


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Mansalva&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- FAVICON -->
    <link rel="icon" href="~/resources/favicon.ico" type="image/x-icon">

    <!-- JS -->
    <script src="~/resources/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- JS PLUGINS -->
    <script src="~/resources/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/resources/js/jquery.dataTables.min.js"></script>
    <script src="~/resources/js/jquery-ui.js"></script>
    <script src="~/resources/js/jquery.datepicker.extension.range.min.js"></script>
    <script src="~/resources/js/circle-progress.min.js"></script>


    <script src="~/resources/js/chart.min.js"></script>
    <script src="~/resources/js/owl.carousel.min.js"></script>

    <meta name="mailru-domain" content="Zy8OFvmJCdRqOzP8" />
  </head>
<body>


    @{
        var user = await @UserHelper.GetUser(User);
    }


    <!-- NAVIGATION BAR -->
       <header>
      <!-- NAVBAR MOBILE -->
      <nav class="navbar navbar-expand-lg wbnav navdashboard mobilenav">
          <div class="container">
              <ul class="mobile-nav">
                  <a asp-action="Dashboard" asp-controller="Dashboard" class="logotype-light"></a>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Личный кабинет
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" asp-action="Dashboard" asp-controller="Dashboard">Дашборд</a></li>
                          <li><a class="dropdown-item" asp-action="Sales" asp-controller="Dashboard">Продажи</a></li>
                          <li><a class="dropdown-item" asp-action="Returns" asp-controller="Dashboard">Возвраты</a></li>
                          <li><a class="dropdown-item" asp-action="Cancels" asp-controller="Dashboard">Отмены</a></li>
                          <li><a class="dropdown-item" asp-action="Orders" asp-controller="Dashboard">Заказы</a></li>
                      </ul>
                  </li>
              </ul>

              <ul class="nav-right">
                  <li class="nav-item2">
                      <a href="#" class="d-block nav-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          
                      </a>
                      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                          <li><a class="dropdown-item" asp-action="Profile" asp-controller="Cabinet">Аккаунт</a></li>
                          <li><a class="dropdown-item" asp-action="Subscriptions" asp-controller="Cabinet">Тарифы</a></li>
                          <li><a class="dropdown-item" asp-action="ApiKeys" asp-controller="Cabinet">Ключи API</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePwd">Смена пароля</a></li>
                          <li><a class="dropdown-item" asp-action="Referrals" asp-controller="Referral">Реферальная программа</a></li>
                          <li><a class="dropdown-item" asp-action="Logout" asp-controller="Users">Выйти</a></li>
                      </ul>
                      <div class="avatarmobile">
                          <img src="@user.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
                      </div>
                  </li>
              </ul>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
              </ul>
              <div class="dropdown text-end">
                <a href="#" class="d-block nav-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  Аккаунт
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" asp-action="Profile" asp-controller="Cabinet">Аккаунт</a></li>
                  <li><a class="dropdown-item" asp-action="Subscriptions" asp-controller="Cabinet">Тарифы</a></li>
                  <li><a class="dropdown-item" asp-action="ApiKeys" asp-controller="Cabinet">Ключи API</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePwd">Смена пароля</a></li>
                  <li><a class="dropdown-item" asp-action="Referrals" asp-controller="Referral">Реферальная программа</a></li>
                  <li><a class="dropdown-item" asp-action="Logout" asp-controller="Users">Выйти</a></li>
                </ul>
              </div>
  
              <div class="text-end">
                  <img src="@user.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
              </div>
            </div>
          </div>
      </nav>

      <!-- NAVBAR 768 -->
      <nav class="navbar navbar-expand-lg wbnav navdashboard mobile768">
          <div class="container">
            <a asp-action="Dashboard" asp-controller="Dashboard" class="logotype-light"></a>
              <ul class="navbar-nav me-auto mb-lg-0 nav-mobile768">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Меню
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a asp-action="SelfCosts" asp-controller="Dashboard" class="dropdown-item">Рассчитать себестоимость</a></li>
                        <li><a asp-action="ExtraExpenses" asp-controller="Dashboard" class="dropdown-item">Расходы</a></li>
                        <li><a class="dropdown-item" asp-action="MyTickets" asp-controller="UserTickets">Поддержка</a></li>
                        <li><a class="dropdown-item" asp-action="News" asp-controller="Cabinet">Новости</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Личный кабинет
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" asp-action="Dashboard" asp-controller="Dashboard">Дашборд</a></li>
                          <li><a class="dropdown-item" asp-action="Sales" asp-controller="Dashboard">Продажи</a></li>
                          <li><a class="dropdown-item" asp-action="Returns" asp-controller="Dashboard">Возвраты</a></li>
                          <li><a class="dropdown-item" asp-action="Cancels" asp-controller="Dashboard">Отмены</a></li>
                          <li><a class="dropdown-item" asp-action="Orders" asp-controller="Dashboard">Заказы</a></li>
                      </ul>
                  </li>
              </ul>
              <div class="dropdown text-end">
                <a href="#" class="d-block nav-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  Аккаунт
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" asp-action="Profile" asp-controller="Cabinet">Аккаунт</a></li>
                  <li><a class="dropdown-item" asp-action="Subscriptions" asp-controller="Cabinet">Тарифы</a></li>
                  <li><a class="dropdown-item" asp-action="ApiKeys" asp-controller="Cabinet">Ключи API</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePwd">Смена пароля</a></li>
                  <li><a class="dropdown-item" asp-action="Referrals" asp-controller="Referral">Реферальная программа</a></li>
                  <li><a class="dropdown-item" asp-action="Logout" asp-controller="Users">Выйти</a></li>
                </ul>
              </div>
  
              <div class="text-end">
                  <img src="@user.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
              </div>
          </div>
      </nav>

      <!-- NAVBAR DESKTOP -->
      <nav class="navbar navbar-expand-lg wbnav navdashboard desktop">
        <div class="container">
          <a asp-action="Dashboard" asp-controller="Dashboard" class="logotype-light"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <i class="las la-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Личный кабинет
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-action="Dashboard" asp-controller="Dashboard">Дашборд</a></li>
                    <li><a class="dropdown-item" asp-action="Sales" asp-controller="Dashboard">Продажи</a></li>
                    <li><a class="dropdown-item" asp-action="Returns" asp-controller="Dashboard">Возвраты</a></li>
                    <li><a class="dropdown-item" asp-action="Cancels" asp-controller="Dashboard">Отмены</a></li>
                    <li><a class="dropdown-item" asp-action="Orders" asp-controller="Dashboard">Заказы</a></li>
                  </ul>
              </li>
              <li><a asp-action="SelfCosts" asp-controller="Dashboard" class="nav-link px-2 link-dark">Рассчитать себестоимость</a></li>
              <li><a asp-action="ExtraExpenses" asp-controller="Dashboard" class="nav-link px-2 link-dark">Расходы</a></li>
              <li><a asp-action="MyTickets" asp-controller="UserTickets" class="nav-link px-2 link-dark">Поддержка</a></li>
              <li><a asp-action="News" asp-controller="Cabinet" class="nav-link px-2 link-dark">Новости</a></li>
            </ul>
            <div class="dropdown text-end">
              <a href="#" class="d-block nav-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                Аккаунт
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" asp-action="Profile" asp-controller="Cabinet">Аккаунт</a></li>
                <li><a class="dropdown-item" asp-action="Subscriptions" asp-controller="Cabinet">Тарифы</a></li>
                <li><a class="dropdown-item" asp-action="ApiKeys" asp-controller="Cabinet">Ключи API</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePwd">Смена пароля</a></li>
                <li><a class="dropdown-item" asp-action="Referrals" asp-controller="Referral">Реферальная программа</a></li>
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Users">Выйти</a></li>
              </ul>
            </div>

            <div class="text-end">
                <img src="@user.AvatarPath" alt="mdo" width="32" height="32" class="rounded-circle wbavatar">
            </div>
          </div>
        </div>
      </nav>
    </header>


    <!-- CONTENT -->
 
    @RenderBody()

    <!-- FOOTER -->
    <footer class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="link-footer">ИП Казакевич Екатерина Александровна</div>
                    <div class="link-footer">ОГРНИП: 321774600287455</div>
                </div>
    
                <div class="col-md-3">
                    <div class="link-footer">ИНН: 772154263180</div>
                    <div class="link-footer">Email: wb.pr0@yandex.ru</div>
                </div>
            </div>
        </div>
    </footer>


     <!-- MODAL WINDOW -->
    <div class="modal fade" id="changePwd" data-id="1" data-product-id="35443163" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Изменение пароля</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="wblabel">Новый пароль</label>
                <input id="new_password" required type="text" class="form-lk" placeholder="">
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="wblabel">Повторите пароль</label>
                <input id="repeat_password" required type="text" class="form-lk" placeholder="">
              </div>

               <h4 id="validation_error" style="color:red;text-align:center;margin-top:10px" class="popup-error"></h4>

              <div class="clickers wbselfcenter">
                <button type="button" onclick="changePassword()" class="btnprofile wbselfbtn">Сохранить изменения</button>
                <a href="/" class="btnregister wbselfbtn" data-bs-dismiss="modal">Отменить изменения</a>
              </div>

              

            </form>
          </div>
        </div>
      </div>
    </div>

   <!-- FIXED BAR -->
   <div href="#" class="opennavfixed">
      <div class="btn-group dropup">
          <button class="opennav btn btn-secondary dropdown-toggle" type="button" id="dropupCenterBtn" data-bs-toggle="dropdown" aria-expanded="false"><i class="las la-bars"></i></button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" asp-action="SelfCosts" asp-controller="Dashboard">Рассчитать себестоимость</a></li>
              <li><a class="dropdown-item" asp-action="ExtraExpenses" asp-controller="Dashboard">Расходы</a></li>
              <li><a class="dropdown-item" asp-action="MyTickets" asp-controller="UserTickets">Поддержка</a></li>
@*              <li><a class="dropdown-item" href="#">Поддержка</a></li>*@
              <li><a class="dropdown-item" asp-action="News" asp-controller="Cabinet">Новости</a></li>
          </ul>
      </div>
  </div>


   @* <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
*@

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>


       <script>
     async function changePassword() {

        let new_password = document.getElementById('new_password');
        let repeat_password = document.getElementById('new_password_repeat');
        let validation_error = document.getElementById('password_validation_error');


        if (new_password.value != repeat_password.value) {
            validation_error.innerHTML = 'Пароли должны совпадать';
            return;
        }
        if (new_password.value.length < 6) {
            validation_error.innerHTML = 'Минимальная длина пароля должно составлять 6 символов';
            return;
        }

        let model = {
            Id : @user.Id,
            Password : new_password.value,
            Phone : '@user.Phone'
        };

        let response = await fetch('/ChangePassword', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                      },
                      body: JSON.stringify(model),
              });

        document.location.reload();
       }

    </script>

        @RenderSection("js",false)

</body>
</html>

