@using MarketWB.Web.ViewModels.Cabinet.Dashboard
@{
    Layout = "_Layout";
}
@model DashboardReturnsVM


    @await Component.InvokeAsync("DashboardHeaderComponent",new {vm = Model})

    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Возвраты</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="col-md-12 top-20 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="responsive-table">
                            <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Артикул</th>
                                        <th>Бренд</th>
                                        <th>Название</th>
                                        <th>Цена, ₽</th>
                                        <th>Категория</th>
                                        <th>Прибыль, ₽</th>
                                        <th>Логистика, ₽</th>
                                        <th>Дата заказа</th>
                                        <th>Дата продажи</th>
                                        <th>Дата возврата</th>
                                        <th>Адрес доставки</th>
                                        <th>До пункта выдачи»</th>
                                        <th>Обратно на склад</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.Report != null)
                                    {
                                        foreach(var row in Model.Report.Rows)
                                        {
                                             <tr>
                                                <td>
                                                    <img height="45" width="45" src="https://images.wbstatic.net/c246x328/new/@row.Article.ToString().Remove(4)0000/@row.Article-1.jpg" />
                                                </td>
                                                <td>@row.Article</td>
                                                <td>@row.Brand</td>
                                                <td>@row.Title</td>
                                                <td>@Convert.ToInt32(row.Price)</td>
                                                <td>@row.Category</td>
                                                <td>@Convert.ToInt32(row.Profit)</td>
                                                <td>@Convert.ToInt32(row.Logistic)</td>
                                                <td>@row.OrderDate.ToString("dd MMMM yyyy HH:mm")</td>
                                                <td>@row.SaleDate.ToString("dd MMMM yyyy HH:mm")</td>
                                                <td>@row.ReturnDate.ToString("dd MMMM yyyy HH:mm")</td>
                                                <td>Склад</td>
                                                <td>@row.InWayToClient</td>
                                                <td>@row.InWayFromClient</td>
                                             </tr>
                                        }
                                    }      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end: content -->

