@using MarketWB.Web.ViewModels.Cabinet.Dashboard
@{
    Layout = "_Layout";
}
@model DashboardReturnsVM


  @await Component.InvokeAsync("DashboardHeaderComponent",new {vm = Model})

     <div class="container">
      <div class="row">
        <div class="dashboard-header wbmargin">
                  <div class="titledash"><div class="dbicon bagarrow"></div> Возвраты</div>
            @await Component.InvokeAsync("PeriodsComponent",new {vm = Model})
        </div>

        <div class="col-md-12">
          <div class="wbalert">
          В таблице представлена детальная аналитика возвратов за выбранный период. Для
            удобства вы можете отсортировать товары по бренду или категории. 
          </div>
        </div>

        <script>
          $(document).ready(function () {
              $('#buytable').DataTable();
          });
        </script>

        <div class="panel panel-default">
          <table id="buytable" class="table table-striped" style="width:100%">
            <thead class="wbtableheader">
                <tr>
                    <th>
                      Фото
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Фото продукта" class="las la-info-circle wbinfot"></i>
                 @*       <i class="las la-sort wbsort"></i>*@
                      </div>
                    </th>
                    <th>
                      Артикул
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Артикул продукта присвоенный Wildberries" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Бренд
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Бренд продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Название
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Основное название продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Цена, ₽
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Цена продажи продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Категория
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Основная категория продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Упущенная прибыль, ₽
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Прибыль, которую вы могли бы заработать, если бы покупатель не оставил товар" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Логистика, ₽
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Стоимость доставки продукта до пункта выдачи + обратно на склад" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Дата заказа
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Точное время и дата заказа продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Дата продажи
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Точное время и дата продажи продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Дата возврата
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Точное время и дата возврата от продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      До пункта выдачи
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Стоимость доставки продукта до пункта выдачи" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Обратно на склад
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Стоимость доставки обратно на склад" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Склад
                      <div class="wbtcont">
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Основной склад доставки продукта" class="las la-info-circle wbinfot"></i>
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var row in Model.Report.Rows)
               {
                      <tr>
                          <td>
                               <img height="45" width="45" src="https://images.wbstatic.net/c246x328/new/@row.Article.ToString().Remove(4)0000/@row.Article-1.jpg" />
                          </td>
                          <td>@row.Article</td>
                          <td>@row.Brand</td>
                          <td>@row.Title</td>
                          <td>@Convert.ToInt32(row.Price)</td>
                          <td>@row.Category</td>
                          <td>@Convert.ToInt32(row.Profit)</td>
                          <td>@Convert.ToInt32(row.Logistic)</td>
                          <td>@row.OrderDate.ToString("dd.MM.yyyy HH:mm")</td>
                          <td>@row.SaleDate?.ToString("dd.MM.yyyy HH:mm")</td>
                          <td>@row.ReturnDate.ToString("dd.MM.yyyy HH:mm")</td>
                          <td>@Convert.ToInt32(row.InWayFromClient)</td>
                          <td>@Convert.ToInt32(row.InWayToClient)</td>
                          <td>@row.DeliveryAddress</td>
                      </tr>  
                  }
            </tbody>
          </table>
        </div>
      </div>


    </div>

