@using MarketWB.Web.ViewModels.Cabinet.Dashboard
@{
    Layout = "_Layout";
}
@model DashboardSalesVM


    @await Component.InvokeAsync("DashboardHeaderComponent",new {vm = Model})

    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Продажи</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">

       @* <div class="col-md-12 padding-0">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel">
                    <div class="panel-heading bg-gray-600 border-none">
                        <h4>Заказы</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:10px;">
                        <h4>7777 рублей</h4>
                        <h4>777 шт.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel">
                    <div class="panel-heading bg-gray-600 border-none">
                        <h4>Продажи</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:10px;">
                        <h4>7777 рублей</h4>
                        <h4>777 шт.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel">
                    <div class="panel-heading bg-gray-600 border-none">
                        <h4>Возвраты</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:10px;">
                        <h4>7777 рублей</h4>
                        <h4>777 шт.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel">
                    <div class="panel-heading bg-gray-600 border-none">
                        <h4>Отказы</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:10px;">
                        <h4><span> .</span></h4>
                        <h4>777 шт.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading bg-white border-none" style="padding:20px;">
                    <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                        <h4>Line Chart</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-sm-12">
                        <div class="mini-onoffswitch pull-right onoffswitch-danger" style="margin-top:10px;">
                            <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                            <label class="onoffswitch-label" for="myonoffswitch1"></label>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding-bottom:50px;">
                    <div id="canvas-holder1">
                        <canvas class="line-chart" style="margin-top:30px;height:200px;"></canvas>
                    </div>
                    <div class="col-md-12" style="padding-top:20px;">
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <h2 style="line-height:.4;">$100.21</h2>
                            <small>Total Laba</small>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <h2 style="line-height:.4;">2000</h2>
                            <small>Total Barang</small>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <h2 style="line-height:.4;">$291.1</h2>
                            <small>Total Pengeluaran</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
*@
        <div class="col-md-12 top-20 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="responsive-table">
                            <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Самовыкуп</th>
                                        <th>Фото</th>
                                        <th>Артикул</th>
                                        <th>Бренд</th>
                                        <th>Название</th>
                                        <th>Цена, ₽</th>
                                        <th>Себестоимость, ₽</th>
                                        <th>Комиссия, ₽</th>
                                        <th>Категория</th>
                                        <th>Прибыль, ₽</th>
                                        <th>Логистика, ₽</th>
                                        <th>Дата заказа</th>
                                        <th>Дата продажи</th>
                                        <th>Адрес доставки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.Report != null)
                                    {
                                        foreach(var row in Model.Report.Rows)
                                        {
                                             <tr>
                                                 <td>
                                                     <input data-nmid="@row.Article" onchange="onSelfBuyCheckboxChanged(event)" type="checkbox" @if(row.IsSelfBuy){@("checked")} />
                                                 </td>
                                                <td>
                                                    <img height="45" width="45" src="https://images.wbstatic.net/c246x328/new/@row.Article.ToString().Remove(4)0000/@row.Article-1.jpg" />
                                                </td>
                                                <td>@row.Article</td>
                                                <td>@row.Brand</td>
                                                <td>@row.Title</td>
                                                <td>@Convert.ToInt32(row.Price)</td>
                                                <td>@Convert.ToInt32(row.SelfCost)</td>
                                                <td>@Convert.ToInt32(row.Comission)</td>
                                                <td>@row.Category</td>
                                                <td>@Convert.ToInt32(row.Profit)</td>
                                                <td>@Convert.ToInt32(row.Logistic)</td>
                                                <td>@row.OrderDate?.ToString("dd MMMM yyyy HH:mm")</td>
                                                <td>@row.SaleDate.ToString("dd MMMM yyyy HH:mm")</td>
                                                <td>Склад</td>
                                             </tr>
                                        }
                                    }      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
         <script>
               async function onSelfBuyCheckboxChanged(e){
                   const id = e.target.getAttribute('data-nmid');
                   let response = await fetch('/Cabinet/SetSelfBuyStatus?nmId='+id+'&isSelfBuy='+e.target.checked, {
                           method: 'PUT',
                   });

               }
        </script>
    </div>
    <!-- end: content -->

   
